<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1254.v3f64639b_11dd">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@2.2118.v31fd5b_9944b_5"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@2.2118.v31fd5b_9944b_5">
      <jobProperties/>
      <triggers/>
      <parameters/>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description>Автоматизація процесів.Підвантаження гіт.</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@3520.va_8fc49e2f96f">
    <script>pipeline {
    agent any

    stages {
        stage(&apos;cloning our GIT&apos;) {
            steps {
                git url: &quot;https://github.com/HladRom/-vue-paper-dashboard&quot;
            }
        }
        stage(&apos;Pre-Build preparations&apos;) {
            steps {
                sh &quot;npm install&quot;
    }
}
        stage(&apos;Build app &amp; docker image&apos;) {
            steps {
                sh &quot;npm run build&quot;
    }
}

    }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>


